<br />

<div class="container">
  <h1 class="fs-2 my-5">Popular localities in and around <b>Vadodara</b></h1>

  <div class="row">
    <div class="col">
      <mat-card
        style="
          box-shadow: 0px 0px 3px 0px #b8b2b2, 0 1px 1px 0 #b8b2b2,
            0 1px 2px 0 #b8b2b2;
        "
      >
        <div class="row">
          <div class="col">
            <mat-card-header>
              <mat-card-title>Alkapuri</mat-card-title>
              <mat-card-subtitle style="margin-bottom: 10px"
                >229 Places</mat-card-subtitle
              >
            </mat-card-header>
          </div>
          <div class="col">
            <div
              style="
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 100%;
              "
            >
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="chevron_right"
              ></mat-icon>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="col">
      <mat-card
        style="
          box-shadow: 0px 0px 3px 0px #b8b2b2, 0 1px 1px 0 #b8b2b2,
            0 1px 2px 0 #b8b2b2;
        "
      >
        <div class="row">
          <div class="col">
            <mat-card-header>
              <mat-card-title>Alkapuri</mat-card-title>
              <mat-card-subtitle style="margin-bottom: 10px"
                >229 Places</mat-card-subtitle
              >
            </mat-card-header>
          </div>
          <div class="col">
            <div
              style="
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 100%;
              "
            >
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="chevron_right"
              ></mat-icon>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="col">
      <mat-card
        style="
          box-shadow: 0px 0px 3px 0px #b8b2b2, 0 1px 1px 0 #b8b2b2,
            0 1px 2px 0 #b8b2b2;
        "
      >
        <div class="row">
          <div class="col">
            <mat-card-header>
              <mat-card-title>Alkapuri</mat-card-title>
              <mat-card-subtitle style="margin-bottom: 10px"
                >229 Places</mat-card-subtitle
              >
            </mat-card-header>
          </div>
          <div class="col">
            <div
              style="
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 100%;
              "
            >
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="chevron_right"
              ></mat-icon>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col">
      <mat-card
        style="
          box-shadow: 0px 0px 3px 0px #b8b2b2, 0 1px 1px 0 #b8b2b2,
            0 1px 2px 0 #b8b2b2;
        "
      >
        <div class="row">
          <div class="col">
            <mat-card-header>
              <mat-card-title>Alkapuri</mat-card-title>
              <mat-card-subtitle style="margin-bottom: 10px"
                >229 Places</mat-card-subtitle
              >
            </mat-card-header>
          </div>
          <div class="col">
            <div
              style="
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 100%;
              "
            >
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="chevron_right"
              ></mat-icon>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="col">
      <mat-card
        style="
          box-shadow: 0px 0px 3px 0px #b8b2b2, 0 1px 1px 0 #b8b2b2,
            0 1px 2px 0 #b8b2b2;
        "
      >
        <div class="row">
          <div class="col">
            <mat-card-header>
              <mat-card-title>Alkapuri</mat-card-title>
              <mat-card-subtitle style="margin-bottom: 10px"
                >229 Places</mat-card-subtitle
              >
            </mat-card-header>
          </div>
          <div class="col">
            <div
              style="
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 100%;
              "
            >
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="chevron_right"
              ></mat-icon>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="col">
      <mat-card
        style="
          box-shadow: 0px 0px 3px 0px #b8b2b2, 0 1px 1px 0 #b8b2b2,
            0 1px 2px 0 #b8b2b2;
        "
      >
        <div class="row">
          <div class="col">
            <mat-card-header>
              <mat-card-title>Alkapuri</mat-card-title>
              <mat-card-subtitle style="margin-bottom: 10px"
                >229 Places</mat-card-subtitle
              >
            </mat-card-header>
          </div>
          <div class="col">
            <div
              style="
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 100%;
              "
            >
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="chevron_right"
              ></mat-icon>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col">
      <mat-card
        style="
          box-shadow: 0px 0px 3px 0px #b8b2b2, 0 1px 1px 0 #b8b2b2,
            0 1px 2px 0 #b8b2b2;
        "
      >
        <div class="row">
          <div class="col">
            <mat-card-header>
              <mat-card-title>Alkapuri</mat-card-title>
              <mat-card-subtitle style="margin-bottom: 10px"
                >229 Places</mat-card-subtitle
              >
            </mat-card-header>
          </div>
          <div class="col">
            <div
              style="
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 100%;
              "
            >
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="chevron_right"
              ></mat-icon>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="col">
      <mat-card
        style="
          box-shadow: 0px 0px 3px 0px #b8b2b2, 0 1px 1px 0 #b8b2b2,
            0 1px 2px 0 #b8b2b2;
        "
      >
        <div class="row">
          <div class="col">
            <mat-card-header>
              <mat-card-title>Alkapuri</mat-card-title>
              <mat-card-subtitle style="margin-bottom: 10px"
                >229 Places</mat-card-subtitle
              >
            </mat-card-header>
          </div>
          <div class="col">
            <div
              style="
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 100%;
              "
            >
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="chevron_right"
              ></mat-icon>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="col">
      <mat-card
        style="
          box-shadow: 0px 0px 3px 0px #b8b2b2, 0 1px 1px 0 #b8b2b2,
            0 1px 2px 0 #b8b2b2;
        "
      >
        <div class="row">
          <div class="col">
            <mat-card-header>
              <mat-card-title>Alkapuri</mat-card-title>
              <mat-card-subtitle style="margin-bottom: 10px"
                >229 Places</mat-card-subtitle
              >
            </mat-card-header>
          </div>
          <div class="col">
            <div
              style="
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 100%;
              "
            >
              <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="chevron_right"
              ></mat-icon>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <br />
</div>
