<div class="container">
  <div class="row">
    <div class="col">
      <mat-card fxFlexAlign="stretch" class="example-card">
        <img
          mat-card-image
          src="assets/options/2.avif"
          style="height: 200px; width: 100%; object-fit: cover; display: block"
        />
        <mat-card-content>
          <h1>Order Online</h1>
          <p>Stay home and order to your doorstep</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col">
      <mat-card fxFlexAlign="stretch" class="example-card">
        <img
          mat-card-image
          src="assets/options/3.avif"
          style="height: 200px; width: 100%; object-fit: cover; display: block"
        />
        <mat-card-content>
          <h1>Order Online</h1>
          <p>Stay home and order to your doorstep</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
