<br /><br />
<div class="container">
  <h1 class="fs-2 mt-5">Collections</h1>
  <p class="fs-5">
    Explore curated lists of top restaurants, cafes, pubs, and bars in Vadodara,
    based on trends.
    <a href="#" class="fs-6 text-danger text-end" style="margin-left: 60px"
      >All collections in Vadodara</a
    >
  </p>
  <br />
  <div class="row">
    <div class="col">
      <mat-card fxFlexAlign="stretch" class="example-card">
        <img
          mat-card-image
          style="
            height: 19rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('https://b.zmtcdn.com/data/collections/633e9a523bc441acf1dc13a7899b1c90_1618312187.jpg?output-format=webp');
          "
        />
        <span
          style="
            top: 73%;
            color: white;
            position: absolute;
            background-image: linear-gradient(
              rgba(0, 0, 0, 0.5),
              rgba(0, 0, 0, 0.5)
            );
          "
        >
          <h1>Gujarati Thali</h1>
          <p>6 Places</p></span
        >
      </mat-card>
    </div>

    <div class="col">
      <mat-card fxFlexAlign="stretch" class="example-card">
        <img
          mat-card-image
          style="
            height: 19rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('https://b.zmtcdn.com/data/collections/633e9a523bc441acf1dc13a7899b1c90_1618312187.jpg?output-format=webp');
          "
        />
        <span
          style="
            top: 73%;
            color: white;
            position: absolute;
            background-image: linear-gradient(
              rgba(0, 0, 0, 0.5),
              rgba(0, 0, 0, 0.5)
            );
          "
        >
          <h1>Gujarati Thali</h1>
          <p>6 Places</p></span
        >
      </mat-card>
    </div>

    <div class="col">
      <mat-card fxFlexAlign="stretch" class="example-card">
        <img
          mat-card-image
          style="
            height: 19rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('https://b.zmtcdn.com/data/collections/633e9a523bc441acf1dc13a7899b1c90_1618312187.jpg?output-format=webp');
          "
        />
        <span
          style="
            top: 73%;
            color: white;
            position: absolute;
            background-image: linear-gradient(
              rgba(0, 0, 0, 0.5),
              rgba(0, 0, 0, 0.5)
            );
          "
        >
          <h1>Gujarati Thali</h1>
          <p>6 Places</p></span
        >
      </mat-card>
    </div>

    <div class="col">
      <mat-card fxFlexAlign="stretch" class="example-card">
        <img
          mat-card-image
          style="
            height: 19rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('https://b.zmtcdn.com/data/collections/633e9a523bc441acf1dc13a7899b1c90_1618312187.jpg?output-format=webp');
            position: relative;
          "
        />

        <span
          style="
            top: 73%;
            color: white;
            position: absolute;
            background-image: linear-gradient(
              rgba(0, 0, 0, 0.5),
              rgba(0, 0, 0, 0.5)
            );
          "
        >
          <h1>Gujarati Thali</h1>
          <p>6 Places</p></span
        >
      </mat-card>
    </div>
  </div>
</div>
